/.idea/
/hvac/data/HVAC.jpg
/hvac/data/illusion_out.txt
/hvac/data/动作空间设计.bmp
/hvac/data/temper_out.txt
/hvac/data/布局图.png
/hvac/README.md
/hvac/issue
/miniDT/data/hopper-medium-replay-v2.pkl
/miniDT/data/hopper-medium-v2.pkl
/miniDT/data/rainbow_dataset_15min_v2_256epoch.pkl
/doc/paper_inherit/
/inherit/version13_2023.6.3_改善baseline以及验证DT效果/
/hvac/data/导热图.jpg
/hvac/data/SolidWorks flow simulation air conditioner 1min.png
/inherit/min-decision-transformer/
/inherit/min-decision-transformer.zip
/miniDT/data/rainbow_dqn_dataset-128epoch-newAC.pkl
/miniDT/data/12splited_1536epoch-2919length_on_rainbow_dqn_dataset-128epoch-newAC.pkl
/miniDT/data/12splited_1536epoch-2919length_on_rainbow_dqn_dataset-128epoch-newAC_v2.pkl
/miniDT/data/12splited_1536epoch-2919length_on_rainbow_dqn_dataset-128epoch-newAC_v2x12.pkl
/miniDT/data/12splited_1536epoch-2919length_on_rainbow_dqn_dataset-128epoch-newAC_v3.pkl
/miniDT/data/12splited_1536epoch-2919length_on_rainbow_dqn_dataset-128epoch-newAC_v3x12.pkl
/miniDT/data/12splited_1536epoch-2919length_on_rainbow_dqn_dataset-128epoch-newAC_v4-month6.pkl
/miniDT/data/12splited_1536epoch-2919length_on_rainbow_dqn_dataset-128epoch-newAC_v5-month1&6.pkl
/miniDT/data/12splited_1536epoch-2919length_on_rainbow_dqn_dataset-128epoch-newAC_v6-month1479.pkl
/miniDT/data/12splited_1536epoch-2919length_on_rainbow_dqn_dataset-128epoch-newAC_v7-month-more-winter.pkl
/miniDT/data/12splited_1536epoch-2919length_on_rainbow_dqn_dataset-128epoch-newAC_v8-month-more-summer.pkl
/miniDT/data/new_reward_rainbow_dqn_dataset_128epoch.pkl
/miniDT/data/12splited_1536epoch-2919length_on_new_reward_rainbow_dqn_dataset_128epoch_v1.pkl
/miniDT/data/new_reward_rainbow_dqn_dataset_128epoch_v2_0.75power_0.25pmv.pkl
/miniDT/data/12splited_1536epoch-2919length_on_new_reward_rainbow_dqn_dataset_128epoch_v2_0.75power_0.25pmv.pkl
/inherit/min-decision-transformer.rar
/miniDT/data/perfect_dataset-64epoch-new.pkl
/miniDT/data/12splited_1536epoch-2919length_on_perfect_dataset-64epoch-new.pkl
/miniDT/data/summer_only_12splited_1536epoch-2919length_on_new_reward_rainbow_dqn_dataset_128epoch.pkl
/miniDT/data/summer_only_12splited_1536epoch-2919length_on_perfect_dataset-64epoch-new.pkl
/miniDT/data/winter_only_12splited_1536epoch-2919length_on_new_reward_rainbow_dqn_dataset_128epoch.pkl
/miniDT/data/winter_only_12splited_1536epoch-2919length_on_perfect_dataset-64epoch-new.pkl
/scripts/data/
/outputs/
/inherit/
/miniDT/data/调整后的reward，人不在的时候奖励为0的情况，这个需要改20231109003623.pkl
/miniDT/data/tmptest_perfect_data_v3_20231114153426v3.pkl
/miniDT/data/perfect_v3/
